# Introduction to  phython programming
## introduction to phython programming
### introduction to phython programming

### insert image
![text]()

### insert a site
[site](https://drive.google.com/drive/my-drive)

## for creating an ordered list
1. abc
2. efg
   A. a
   B. b
3. hij
    1. c
    2. d

## for unordered list
1. abc
2. efg
   *  a
   *  b
3. hij
   * a
   * b

###**bold and single* italic
**gitam**<br>
*gitam*

## input and output
## varaibles
## numbers, boolean
## string

In [0]:
print("hello world")

hello world

In [0]:
# variable creation
a = 10
b = 20
a+b

30

In [0]:
name = "gitam"
print("university:"+ name)

university:gitam

In [0]:
name = input("enter a name")
age=int(input("enter age"))
print("my name is:",name, "and my age is:", age)

enter a namebrahmini
enter age20
my name is: brahmini and my age is: 20

In [0]:
## take two inputs and do the following arthematic opeations
### add
### sub
### mul
### div
a = int(input("enter a number"))
b = int(input("enter a number"))
c=a+b
d=a-b
e=a*b
f=a/b
print("c=",c)
print("d=",d)
print("e=",e)
print("f=",f)

enter a number20
enter a number10
c= 30
d= 10
e= 200
f= 2.0

In [0]:
### fundemental datatypes
1. int
2. float
3. complex (3+5j)
4. boolean
5. string

SyntaxError: ignored

In [0]:
a = 10
b = 12.05
c = 5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c = complex(3,4)
print(c)

(3+4j)

In [0]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [0]:
## boolean 
a = 10
b = 20
a>b

False

In [0]:
s1 = "abc"
s2 = "xyz"
print(type(s1), type(s2))

<class 'str'> <class 'str'>

In [0]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [0]:
a1 = 1234
print(len(str(a1)))

4

In [0]:
### operators
1. arthematic operators --->+,-,*,%,/,//,**
2. logical operators ---> and,or, not
3. relations operators ---> >,<,<=,>=,==,!=
4. membership operators ---> in, not in

In [0]:
n1 = 12
n2 = 21
print(n1+n2)
print(n2-n1)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1//n2)
print(n1**n2)

33
9
252
12
0.5714285714285714
0
46005119909369701466112

In [0]:
## relational operators
print(n1 == n2)
print(n1 != n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

In [0]:
#logical operators
n1 = 20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

## problems on relational operators
### take 2 intergers and do the folowing operations
## >,<,==,!=,<=,<=

In [0]:
d=20
e=10
print(d>e)
print(d<e)
print(d==e)
print(d!=e)
print(d<=e)
print(d>=e)

True
False
False
True
False
True

## membership operators
### in---true if the values found in sequence
### not in---true if the values not found in sequence

In [0]:
f = [1,2,3,4]
print(1 in f)
print(5 not in f)
print(6 in f)

True
True
False

## conditional statement
1. if
2. else
## syntax
#### if cindition
> statements<br>
#### else
> statements

## to check even or odd

In [0]:
n = int(input("enter a number"))
if n%2 == 0:
   print("even")
else:
   print("odd")

enter a number5
odd

## to check given number is multiple of 3 and 5

In [0]:
n = int(input("enter a number"))
if n%3==0 and n%5==0:
  print("multiple of 3 and 5")
else :
  print("not a multiple of 3 or 5")

enter a number15
multiple of 3 and 5

## check the given number is positive or negative or zero

In [0]:
n = int(input("enter a number"))
if n>0:
  print("positive")
elif n==0:
  print("zero")
else :
  print("negative")

enter a number2
positive

## check the input is leap year or not

In [0]:
year = int(input("enter a year"))
if (year%4 == 0 and year%100 != 0) or year%400==0:
  print("it is a leap year")
else:
  print("not a leap year")

enter a year2000
it is a leap year

## Loops
### 1. while loop
### 2. for loop

In [0]:
# print numbers from 1 to n
n = int(input("enter a number"))
i=1
while i<=n:
  print(i, end= " ")
  i=i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [0]:
# read a number in a input
# output should be sum of even numbers from 1 to n
n = int(input("enter a number"))
i=1
s=0
while i<=n:
  if i%2==0:
    s=s+i
  i=i+1
print(s)

enter a number10
30