In [0]:
### Functioning Programming
1. simple
2. easy to understand
3. better reusability
4. length of the program is divided into sub program

In [0]:
def nameofFunction(<parameter>)
    statements
    return

In [0]:
# read a number
# Print the even digit sum from the number

# input : 1234
# output : 6(2 +4)

def evenDigitSum(n):
    s=0
    while n != 0:
      r = n % 10
      if r % 2 == 0:
        s = s + r
      n = n // 10
    return s
evenDigitSum(1234)

6

In [0]:
# define return fuction
def square(x):
  print(x*x)
print(square(4))

16
None

In [0]:
def square(x):
    return x*x
square(3)

9

In [0]:
def cube(x):
  return x*x*x
cube(3)

27

In [0]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [0]:
# swap values
def swap(x,y):
    temp = x
    x = y
    y = temp
    return x,y
swap(2,3)

(3, 2)

In [0]:
# Input : 19535
# output : 9 (largest digit of the number)
def largedigit(n):
   large = 0
   while n!=0:
     r=n%10
     if large < r:
         large = r
     n=n//10
   return large
largedigit(19535)

9

## For loop
#### syntax 1:
for i in range(start,stop,step)
>statements
#### syntax 2
for i in Iterableobject:
>statements

In [0]:
# Function to print the numbers btw two limits

def printseries(lb,ub):
    for x in range(lb,ub+1):
      print(x,end =" ")
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

## Collection types
#### 1. set
#### 2. tuple
#### 3.set
#### 4.Dictionary

## List:


*  one of the data structure is  phython
*  Data structur means to store , sort and Search Options
*  its one common data strucrue in phython, the items of list seperated by comma and enclosed in square brackets[]

#### Examples:

    -list1 = [1,2,3,4,5]
    -list2 = ["Gitam",1,2]

In [0]:
li = [1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[1])
print(li[-5])
print(li[2:])
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
8
1
[16, 9, 2]
[8, 16, 9]
[8, 16, 9]

In [0]:
# update list
li = ['gitam', 1234, 'hyd']
print(li)
li[1]=4567
print(li)

['gitam', 1234, 'hyd']
['gitam', 4567, 'hyd']

In [0]:
# delete a value of list
li = ['gitam', 1234, 2018, 2019 ,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']

In [0]:
# basic list operations
li = [1,2,3,4,5]
#len of the string
print(len(li))

5

In [0]:
if 5 > 10:
  print("fan")
elif 8 != 9:
  print("glass")
else :
  print("cream")

glass

In [0]:
if False:
  print("nissan")
elif True:
  print("4")
elif True:
  print("bmw")
else :
  print("audi")

4