In [0]:
# Basiic list function
li = [1,9,16,25,5] 
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [0]:
li = [1,9,16,25,5]
li.append(29) # add the new items  at the end
print(li)
li.insert(2,56) # add the value in that particular index
print(li)
li.append(9)
print(li)
li.count(9) # to count the number of times repeated
print(li)
li.index(56) # to know the index of the item
print(li)

[1, 9, 16, 25, 5, 29]
[1, 9, 56, 16, 25, 5, 29]
[1, 9, 56, 16, 25, 5, 29, 9]
[1, 9, 56, 16, 25, 5, 29, 9]
[1, 9, 56, 16, 25, 5, 29, 9]

In [0]:
# method of list object
li = [1,9,16,56,25,5,9]
#  li.sort() # sorts the list in ascending order
li.sort()
print(li)
li.pop() # last index value
print(li)
li.pop(1) # to remove item from particar index
print(li)

[1, 5, 9, 9, 16, 25, 56]
[1, 5, 9, 9, 16, 25]
[1, 9, 9, 16, 25]

In [0]:
li1 = [1,5,25,56,89]
li2 = [1,6,19,25] 
li2.extend(li1) # to extend the list with another
print(li2)

[1, 6, 19, 25, 1, 5, 25, 56, 89]

In [0]:
li1 = [1,6,19,25]
li1.reverse() # to reverse the list
print(li1)

[25, 19, 6, 1]

In [0]:
def largeNumber(li):
    li.sort()
    return li[-1] # to know the largest number and generic largest number
def genericlarge(li,n):
    li.sort()
    return li[-n] # to
li = [19,1,25,6,9,45,22]
print(largeNumber(li))
print(genericlarge(li,3))

45
22

In [0]:
def smallNumber(li): # for smallest and generic smallest number
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li = [19,1,25,6,9,45,22]
print(smallNumber(li))
print(genericsmall(li,3))

1
9

In [0]:
li = [19,1,25,6,9,45,22,6] # if there are repeated items
li1 = []
for i in li:
    if i not in li1:
      li1.append(i)
li1  
def smallNumber(li1):
    li1.sort()
    return li1[0]
def genericsmall(li1,n):
    li1.sort()
    return li1[n-1]
print(smallNumber(li1))
print(genericsmall(li1,3))

1
9

### **Tuples**
- parenthesis() --->Tuple and square brackets[]---> list
- difference between list and tuple
   - list are mutable - can be changed/modified
   -used to access and modify, add, delete data
   - tuples are immutable - cannot be changed
   - used to access data only

In [0]:
t1 = (1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### **Dictionaries**
1.   it works on the of Set Unique data
2.   keys, values are the unquie identifiers for the value
3.   each kay is seperated fromits value with a colon(:)
4.   each key and value are seperate with a comma(,)
5.   Dictionary is nhanced with curly braces

In [0]:
d1 = {"Name": "Gitam","Email Id":"gitam@gmail.com","Address":"Hyderabad"}
d1

{'Address': 'Hyderabad', 'Email Id': 'gitam@gmail.com', 'Name': 'Gitam'}

In [0]:
d1["Email Id"]

'gitam@gmail.com'

In [60]:
d1 = {"Name": "Gitam","Email Id":"gitam@gmail.com","Address":"Hyderabad"}
d1["Email Id"] = "gitamPython@gmail.com" # to update the data
d1

{'Address': 'Hyderabad', 'Email Id': 'gitamPython@gmail.com', 'Name': 'Gitam'}

In [61]:
d1["Course"] = "Python" # to add an entry
d1

{'Address': 'Hyderabad',
 'Course': 'Python',
 'Email Id': 'gitamPython@gmail.com',
 'Name': 'Gitam'}

In [84]:
del d1["Email Id"] # to delete a key and its value
d1

{'Address': 'Hyderabad', 'Course': 'Python', 'Name': 'Gitam'}

In [63]:
d1.keys()

dict_keys(['Name', 'Address', 'Course'])

In [69]:
d1.values()

dict_values(['Gitam', 'Hyderabad', 'Python'])

In [71]:
d1.items() # list oftuple of keys and it values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad'), ('Course', 'Python')])

###**Strings**

*   Strings
*   String Slicing
*   Fundamental Programming with String in phython

In [85]:
s1 = 'Phython'
print(s1)
print(type(s1))

Phython
<class 'str'>

In [88]:
s1 = 'Python'
print(s1[0]) # Access the first character
print(s1[1]) # Access the second character
print(s1[5]) # Access the sixth/last charecter
print(s1[len(s1)-1]) # Access the last charecter

P
y
n
n

In [91]:
print(s1[-1]) # Access the last character
print(s1[-2]) # Access the last second character
print(s1[0:2]) # Access the first characters
print(s1[:2]) # Access the first characters
print(s1[-3]) # Access the last three character
print(s1[::-1]) # to reverse the string

n
o
Py
Py
h
nohtyP

In [95]:
print(s1[-1]) # Access the all characters except for first and last
print(s1[len(s1)//2]) # Access the middle character
print(s1[-1::-1]) # to reverse the string
print(s1[-1:-3:-1]) # to access the last two characters in the reverse order
# to access the alternate charecters
print(s1[::2]) # two characters
print(s1[::3]) # three characters
print(s1[::-2]) # from reverse order characters

n
h
nohtyP
no
Pto
Ph
nhy

In [97]:
#  reversing the string
def reversingastring(str):
    return str[::-1]
reversingastring("programming")

'gnimmargorp'

In [100]:
# check whether the string is palindrome or not
def palindrome(str):
    if str == str[::-1]:
     return True
    else:
      return False
    return
print(palindrome("python"))
print(palindrome("ganag"))

False
True

In [102]:
def palindrome(str):
    if str == str[::-1]:
     print("palindrome")
    else:
      print("not a palindrome")
    return
palindrome("python")

not a palindrome

###**String Built-in methos:**
1. upper() --- will convert into upper case
1. lower() --- will convert into lower case

In [103]:
s1 = 'Phython'
print(s1.upper())
print(s1.lower())

PHYTHON
phython

###**String Boolean Built-in methods**
1. islower() --- True if the string have all character lower case
2. isupper() --- True if the string have all character upper case
3. istitle() --- True if the string in title case
4. isnumeric() --- True if the string is numeric
5. isalpha() --- True if the string only alphabets
6. isspace --- True if string is space

In [104]:
s1='python'
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

True
False
False
False
True
False

In [105]:
s1="python"
print(s1.islower())
print(s1.isupper())

True
False

In [106]:
s1 = "Py123456"
s2 = "Python"
print(s1.isalpha())
print(s2.isalpha())

False
True

In [108]:
s1 = " "
s2 = "py123"
print(s1.isspace())
print(s2.isspace())

True
False

##  **String Method**
- join() -- Methods will concatinates the two strings
- split() -- split() returns the list of strings separated by whitespace
- replace() --replaces the specific word or character with the new word or character

In [113]:
s1 = "python"
print(" ".join(s1))

p y t h o n

In [114]:
s2 = "Python Programming is easy to learn"
print(s2.split())

['Python', 'Programming', 'is', 'easy', 'to', 'learn']

In [116]:
s2 = "Python Programming is easy to learn"
print(s2.split('a'))

['Python Progr', 'mming is e', 'sy to le', 'rn']

In [124]:
s2 = "Python Programming is Easy to Learn"
print(len(s2))
li = s2.split() # split the string -- list objects
print(li)
print(len(li))

35
['Python', 'Programming', 'is', 'Easy', 'to', 'Learn']
6

In [125]:
s3=["Python","dshdh","aopaoaoia"]
"........".join(s3)

'Python........dshdh........aopaoaoia'

In [126]:
li=s2.split()
print(s2.split())
print(s2.split('a'))
print(s2.split('m'))
print(len(s2))
print(len(li))

['Python', 'Programming', 'is', 'Easy', 'to', 'Learn']
['Python Progr', 'mming is E', 'sy to Le', 'rn']
['Python Progra', '', 'ing is Easy to Learn']
35
6

In [121]:
s2 = "Python Programming is easy to learn"
li = list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [120]:
s2 = "Python Programming is easy to learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming is easy to learn